<h1><%=t("controllers.names.user.index") %></h1>
<p><%= link_to t("buttons.new"), {:controller => 'users',
                           :action => 'new'} %></p>
<% if @users.present? %>
  <table class="list">
    <tr>
      <th><%=t("activerecord.attributes.user.user_id") %></th>
      <th><%=t("activerecord.attributes.user.name") %></th>
      <th></th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.user_id %></td>
      <td><%= user.name %></td>
      <td>
        <%=  link_to t("buttons.edit"), [:edit, user] %> |
        <%= link_to t("buttons.delete"), user, method: :delete, confirm: t("messages.user.index.message1") %>
      </td>
    </tr>
  <% end %>
  </table>
  <%# paginate @users %>
<% else %>
  <p><%= t("messages.user.index.message2") %></p>
<% end %>
