<h1><%=t("controllers.names.record.edit") %></h1>

<%= form_for @record do |form| %>
    <%= render "form", form: form %>
    <p><%= form.submit %></p>
<% end %>

<p><%= link_to "デプロイ詳細に戻る", @record %></p>
