<h1><%=t("controllers.names.record.edit") %></h1>

<%= form_for @record do |form| %>
    <%= render "form", form: form %>
    <p><%= form.submit t("buttons.submit2") %></p>
<% end %>

<p><%= link_to t("messages.record.edit.message1"), @record %></p>
