
<h1><%=t("controllers.names.record.index") %></h1>
<p><%= link_to t("buttons.new"), {:controller => 'records',
                              :action => 'new'} %></p>
<%= form_tag :search_records, method: :get do %>
    <p><%= text_field_tag "q", params[:q] %>
      <%= submit_tag t("buttons.search") %></p>
<% end %>
<% if @records.present? %>
    <table class="list">
      <tr>
        <th><%=t("activerecord.attributes.record.instance_name") %></th>
        <th><%=t("activerecord.attributes.record.deploy_date") %></th>
        <th><%=t("activerecord.attributes.record.commit_hash") %></th>
        <th><%=t("activerecord.attributes.record.remarks") %></th>
        <th></th>
      </tr>
      <% @records.each do |record| %>
          <tr>
            <td><%= link_to record.name, record %></td>
            <td><%= record.deploy_date %></td>
            <td><%= record.commit_hash  %></td>
            <td><%= record.remarks  %></td>
            <td>
              <%=  link_to t("buttons.edit"), [:edit, record] %> |
              <%= link_to t("buttons.delete"), record, method: :delete, confirm: t("messages.record.index.message1") %>
            </td>
          </tr>
      <% end %>
    </table>
<% else %>
    <p><%= t("messages.record.index.message2") %></p>
<% end %>