<h1><%=t("controllers.names.record.new") %></h1>

<%= form_for @record do |form| %>
<%= render "form", form: form %>
<p><%= form.submit t("buttons.submit1")%></p>
<% end %>
<p><%= link_to t("messages.record.new.message1"), {:controller => 'records',
                             :action => 'search'} %></p>